{% layout "layouts/main-layout" %}

{% block mobile-title %}
<h1 class="mobile-page-title">Settings</h1>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/public/css/pages/settings.css" media="screen">
<title>grap | Settings</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    {% if flashMessage %}
        <div class="alert-wrapper">
            {% render "partials/alert", text: flashMessage %}
        </div>
    {% endif %}

    <div>
        <h3 class="article-heading">Your access tokens</h3>
        <div class="article">
            <form method="post" action="settings/token">
                <div class="token-form">
                    <div>
                        <label for="note">Note</label>
                        <input type="text" name="note">
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        {% if tokens.length >= maxTokens %} disabled {% endif %}
                    >
                        Create token
                    </button>
                    <p>You are using {{ tokens.length }} out of {{ maxTokens }} tokens.</p>
                </div>
            </form>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Note</th>
                            <th>Created at</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for token in tokens %}
                            <tr>
                                <td>{{ token.token }}</td>
                                <td>{{ token.note }}</td>
                                <td>{{ token.createdAt }}</td>
                                <td>
                                    <form method="post" action="settings/token/destroy">
                                        <input type="hidden" name="token" value={{ token.id }}>
                                        <button type="submit" class="btn btn-secondary">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <h3 class="article-heading">Delete account</h3>
        <div class="article">
            <p>This is an irreversible action, all related data to this account will be destroyed!</p>
            {% if isLastAdmin %}
                <p><mark>You are the only admin of the platform. This will unlock the setup page!</mark></p>
            {% endif %}
            <form method="post" action="settings/user/destroy">
                <button type="submit" class="btn btn-primary">Delete account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}