<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>Dashboard</h1>
    <p>You are using <%= addresses.length %> out of 10 email addresses.</p>
    <% if (typeof flashMessage !== "undefined") { %>
        <p><mark><%= flashMessage %></mark></p>
    <% } %>
    <section>
        <h3>Your email addresses</h3>
        <table>
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Expires in</th>
                    <th>Inbox</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (addr of addresses) { %>
                    <tr>
                        <td><%= addr.address %></td>
                        <td><%= addr.expiresIn %> min</td>
                        <td><a href="#"><%= addr.inboxEmails %> emails</a></td>
                        <td>
                            <form method="post" action="dashboard/address">
                                <input type="hidden" name="address" value=<%= addr.id %>>
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <button id="generate">Generate a new one</button>
        <a href="/dashboard"><button>Refresh</button></a>
    </section>
    
    <script>
        let isGenerating = false;
        const btn = document.getElementById("generate");
        btn.addEventListener("click", () => {
            // prevent spam clicking
            if (isGenerating) return;
            isGenerating = true;
            fetch("/api/v1/address")
                .then(() => window.location.reload());
        });
    </script>
</body>
</html>