<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>API Documentation</h1>

    <h4>Authorisation</h4>
    <section>
        <p>
            You need to register and generate a token from the <a href="/settings">settings page</a>.
            After that just include it as a header in any requests you make in the following format:
        </p>
        <code>Authorization: Bearer token-here</code>
    </section>

    <h4>Generate email address</h4>
    <code>
        <pre>curl -H "Authorization: Bearer" https://<%= domain %>/api/v1/address</pre>
    </code>
    <section>
        <code>
            GET https://<%= domain %>/api/v1/address
        </code>
        <p>Success response (code 201):</p>
<pre>
{"data": "random.name@<%= domain %>"}
</pre>
        <p>Error response (code 401):</p>
<pre>
{"error": "Address limit reached! Try again later."}
</pre>
    </section>

    <h4>Fetch latest email</h4>
    <code>
        <pre>curl -H "Authorization: Bearer" https://<%= domain %>/api/v1/inbox/random.name@<%= domain %>/latest</pre>
    </code>
    <section>
        <code>
            GET https://<%= domain %>/api/v1/inbox/:address/latest
        </code>
        <p>Success response (code 200):</p>
<pre>
{"data": {
    "subject": "email-subject",
    "content": "email-content",
    "from": "sender-email",
    "createdAt": "date-here"
}}
</pre>
        <p>Error response (code 404):</p>
<pre>
{"error": "Address not found!"}
</pre>
    </section>
</body>
</html>