<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>Settings</h1>

    <% if (typeof flashMessage !== "undefined") { %>
        <p><mark data-test-id="flash-message"><%= flashMessage %></mark></p>
    <% } %>
    <section>
        <h3>Your access tokens</h3>
        <p>You are using <%= tokens.length %> out of <%= maxTokens %> tokens.</p>
        <form method="post" action="settings/token">
            <label>Note</label><br>
            <input type="text" name="note">
            <button type="submit" <% if (tokens.length >= maxTokens) { %> disabled <% } %>>Create token</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Note</th>
                    <th>Created at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (token of tokens) { %>
                    <tr>
                        <td><%= token.token %></td>
                        <td><%= token.note %></td>
                        <td><%= token.createdAt %></td>
                        <td>
                            <form method="post" action="settings/token/destroy">
                                <input type="hidden" name="token" value=<%= token.id %>>
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>
    <article>
        <h3>Delete account</h3>
        <p>This is an irreversible action, all related data to this account will be destroyed!</p>
        <% if (typeof isLastAdmin !== "undefined" && isLastAdmin) { %>
            <p><mark>You are the only admin of the platform. This will unlock the setup page!</mark></p>
        <% } %>
        <form method="post" action="settings/user/destroy">
            <button type="submit">Delete account</button>
        </form>
    </article>
</body>
</html>