<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>System Settings</h1>

    <% if (typeof flashMessage !== "undefined") { %>
        <p><mark data-test-id="flash-message"><%= flashMessage %></mark></p>
    <% } %>
    
    <form method="post" action="/admin/system-settings">
      <% for (setting of settings) { %>
        <p>
          <label><%= setting.name %></label><br/>
          <input type="text" name=<%= setting.name %> value=<%= setting.value %> required>
        </p>
      <% } %>
      <button type="submit">Save</button>
  </form>

  <section>
    <h3>Statistics</h3>
    <table>
      <thead>
          <tr>
              <th>Stat</th>
              <th>Value</th>
          </tr>
      </thead>
      <tbody>
          <% for (stat of stats) { %>
            <tr>
                <td><%= stat.name %></td>
                <td><%= stat.value %></td>
            </tr>
          <% } %>
      </tbody>
    </table>
  </section>
</body>
</html>