<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1>Users</h1>

    <% if (typeof flashMessage !== "undefined") { %>
      <p><mark data-test-id="flash-message"><%= flashMessage %></mark></p>
    <% } %>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Created</th>
                <th>Max emails</th>
            </tr>
        </thead>
        <tbody>
            <% for (user of users) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.createdAt %></td>
                    <form method="post" action="/admin/user">
                        <td>
                            <input name="maxEmails" type="number" value=<%= user.settings.maxEmailAddresses %> required>
                        </td>
                        <td>
                            <input type="hidden" name="user" value=<%= user.id %>>
                            <button type="submit">Save</button>
                        </td>
                    </form>
                    <td>
                        <!-- // TO-DO: needs backend -->
                        <form method="post" action="/admin/dontknowyet">
                            <input type="hidden" name="user" value=<%= user.id %>>
                            <button type="submit" disabled>Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div style="display: flex; align-items: center; gap: 10px;">
        <a href="/admin/users?page=<%= prevPage %>"><button>Previous</button></a>
        <h6>Page <%= currentPage %> of <%= totalPages %></h6>
        <a href="/admin/users?page=<%= nextPage %>"><button>Next</button></a>
    </div>
    
</body>
</html>